#board{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.square{
    border: solid;
}

.green{
    background-color: green;
}

.beige{
    background-color: beige;
}

.gold{
    background-color: gold;
}