#board{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.square{
    border: solid;
}

.black{
    background-color: green;
}

.white{
    background-color: beige;
}